@model BikeShowroom.Models.Bikes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bikes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeVerison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeVerison)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BikeNums">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
